force-app/main/04_architecturalPatterns/errorHandling/flows/ExecuteTransfer.flow-meta.xml
<?xml version='1.0' encoding='UTF-8' ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>ExecuteTransfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Execute Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_From_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <recordLookups>
        <name>Get_From_Account</name>
        <label>Get From Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_To_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>from_account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASR_Financial_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_To_Account</name>
        <label>Get To Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_From</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>to_account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ASR_Financial_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_From</name>
        <label>Update From</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_From_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance__c</field>
            <value>
                <elementReference>Get_From_Account.Balance__c</elementReference>
            </value>
        </inputAssignments>
        <object>ASR_Financial_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To</name>
        <label>Update To</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_To_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance__c</field>
            <value>
                <elementReference>Get_To_Account.Balance__c</elementReference>
            </value>
        </inputAssignments>
        <object>ASR_Financial_Account__c</object>
    </recordUpdates>
    <recordCreates>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>transaction_id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>From_Account__c</field>
            <value>
                <elementReference>Get_From_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Account__c</field>
            <value>
                <elementReference>Get_To_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>ASR_Transaction_Log__c</object>
    </recordCreates>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign Success</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>from_account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>to_account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>transaction_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
